* {
    margin: 0;
    padding: 0;
    font-family: 'Edu SA Beginner', cursive;
    text-decoration: none;
    color: #888888;
}

.container h1 {
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 55px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 18px 0;
    margin-bottom: 56px;
    background-color: rgb(196, 228, 191);
}

header img {
    height: 55px;
}

form, header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

form input {
    border: none;
    border-radius: 3px;
    margin-right: 3px;
    height: 25px;
    width: 20%;
    background-color: white;
}

form button {
    border: none;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
    background-color: white;
    color: #777777;
}

.img-ramo {
    height: 110px;
}

footer img {
    height: 120px;
    position: absolute;
    right: 0;
}

.produto img {
    max-width: 100%;
    height: 320px;
}

.botao-produto {
    background-color: rgb(196, 228, 191);
    border: none;
    padding: 5px;
    margin-top: 2px;
    display: block;
}

.roupas a button {
    display: flex;
    justify-content: center;
}

.destaque {
    margin-bottom: 56px;
    margin-left: 8px;
}

.destaque .principal a {
    display: flex;
    font-size: 2em;
}

.destaque .principal img {
    margin-right: 8px;
}

section h2 {
    margin-bottom: 32px;
    font-size: 30px;
}

section h3 {
    font-size: 20px;
}

.roupas {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    column-gap: 1%;
    row-gap: 3%;
    margin-left: 8;
}

@media screen and (max-width: 767px) {
    .conteudo {
        display: block;
    }

    .container {
        max-width: 90%;
    }

    .destaque .principal a {
        display: block;
        font-size: 1.5em;
    }
    .destaque .principal img {
        margin-right: 0px;
        height: 250px;
    }

    .roupas {
    display: block;
    }

    .roupas .produto {
        margin-bottom: 32px;
    }

    aside {
        padding-left: 0px;
    }

    .container h1 {
        font-size: 30px;
        padding: 5px;
    }

    header img {
        height: 25px;
    }

    form input {
        margin-right: 3px;
        height: 25px;
        width: 30%;
    }

    .botao-produto {
        cursor: pointer;
    }

}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .botao-menu {
        display: none;
    }

    .destaque .principal a {
        font-size: 1.5em;
    }

    .roupas {
        grid-template-columns: repeat(2, 49%);
    }

    .botao-produto {
        cursor: pointer;
    }
}

@media screen and (min-width: 1024px) {
    .roupas {
        grid-template-columns: repeat(4, 20%);
        row-gap: 5px;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .botao-produto {
        cursor: pointer;
    }

    .principal img {
        height: 400px;
    }

    .principal h3 {
    font-size: 30px;
    }

    .produtos {
        margin-left: 8px;
    }
}
